@charset "utf-8";
/* CSS Document */
#banner{ margin-top:5px; margin-left:40px;}

#contain{ width:700px; height:400px;  margin-left:40px;}
#contain p{ margin-top:20px; margin-left:150px; font-size:20px; float:left;}
#contain img{ margin-top:10px; margin-left:10px; float:left;}
#login{ width:550px; height:400px; background-color:blue; margin-left:770px; margin-top:-400px;}
.login-span{ width:550px; height:50px; background:#CCC; float:left;}
.login-span span{ font-size:22px; margin-left:30px; margin-top:65px; color:#000;}
.login-span p{font-size:22px; margin-left:10px; margin-top:20px; color:#000;}
.login-span a{font-size:22px; margin-left:10px; margin-top:20px; color:#F00; text-decoration:none;}




body {
	font-family:"Microsoft Yahei";
	font-size:12px;
	margin:0;
    background: #fff url(../images/login/1.jpg) 50% 0 no-repeat;}
.login {
	margin:0 auto;
	border:2px solid #eee;
	border-bottom:none;
	position:relative;
	border-radius: 15px 50px;
    background:#CCC;
    padding: 20px; 
    width: 320px;
    height: 280px;
    font-family: "Times New Roman",Georgia,Serif;
    font-size:18px;
    border-radius:25px;
	margin-top:-330px ;
	margin-left:800px;
	background-color:#FFF;
}

#button_blue
{
	width:100px;
	display:inline-block;
	float:left;
	height:41px;
	border-radius:4px;
	background:#066;
	border:none;cursor:pointer;
	border-bottom:3px solid #0078b3;*border-bottom:none;
	color:#fff;
	font-size:16px;padding:0 10px;*width:140px;
	text-align:center;outline:none;
	font-family: "Microsoft Yahei",Arial, Helvetica, sans-serif;
}

#button_blue:hover
{
	background:#900;
	border-bottom:3px solid #006698;*border-bottom:none;
	color:#fff;
	text-decoration:none;
}
